*
{
	margin: 0;
	padding: 0;
}

body
{
	background-color: #eeeeee;
}

h3
{
	text-align: center;
}

.shop_type
{
	width: 84%;
	margin: auto;
}

.shop_type > h4
{
	text-align: center;
	margin: 0 auto 30px;
}

.mdl-list__item.shop-type
{
	float: left;
}

.clear
{
	clear: both;
}

.shop_image
{
	width: 100px;
	height: 200px;
}

.logout
{
	z-index: 900;
    position: absolute;
    right: 30px;
}

.regButton
{
	margin-top: 20px !important;
}

.mdl-checkbox.is-upgraded
{
	padding-left: 0 !important;
}

span.mdl-list__item-secondary-action
{
	margin-left: 10px;
}

.mdl-card__title-text
{
    margin: 10px auto;
    text-align: center;
}

.mdl-grid
{
	max-width: 1100px;
    width: 100%;
}

.mdl-grid > h4
{
	text-align: center;
}

.lists
{
	width: 500px;
    max-height: 544px;
    height: 100%;
    margin: 0 auto 30px;
}

.no-additional-lists
{
	text-align: center;
}

.nextButton
{
	margin: 20px auto;
	display: block;
	width: auto !important;
}

.mdl-card__title-text.h3
{
	font-size: 16px;
	display: block;
	margin-top: 20px;
}

.mdl-card.mdl-shadow--3dp
{
    margin: 100px auto;
    padding: 30px;
}

.social-buttons
{
	margin: 0 auto;
}

.mdl-button
{
	width: 100%;
    height: 46px;
}

.popupButton
{
	width: auto;
}

.mdl-button > a
{
	text-decoration: none;
	color: #fff;
}

.preloader
{
	display: none;
	width: 64px;
	margin: 0 auto;
}

.server-answer
{
	display: none;
	font-size: 14px;
	text-align: center;
	color: #FF0000;
}

.social-buttons
{
    height: 45px;
    margin: 0 auto;
    width: 174px;
}

.social-buttons a img
{
    width: 35px;
    height: 35px;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.social-buttons a
{
	margin-right: 10px;
    margin-left: 10px
}

.exitButton
{
	width: auto;
	line-height: 44px;
    display: block;
    bottom: 0;
    right: 0;
    margin-right: 40px;
    margin-bottom: 60px;
    z-index: 900;
}

a.mdl-button
{
	width: auto;
	line-height: 44px;
}

.card-square.mdl-card 
{
    width: 320px;
    height: 320px;
    margin: 20px auto;
}

.card-square > .mdl-card__title
{
	padding: 0;
}

.card-square > .mdl-card__title > a
{
	width: 100%;
	height: 284px;
}

.card-square > .mdl-card__title.first 
{
    background: url('../img/shop_1.png') no-repeat;
    background-size: cover;
}

.card-square > .mdl-card__title.second 
{
    background: url('../img/shop_2.png') no-repeat;
    background-size: cover;
}

.card-square > .mdl-card__title.third 
{
    background: url('../img/shop_3.png') no-repeat;
    background-size: cover;
}

.mdl-card__title.custom
{
	padding: 45px;
}

.mdl-card-wide.custom
{
	margin-bottom: 30px;
}

.mdl-card__title-text
{
	color: #000;
}