span.fa.fa-shopping-cart.my-cart-icon {
    position: absolute !important;
    font-size: 1.5em;
    color: #039445;
}
@media(max-width:414px){
.cart {
    width: 27%;
}
.cart{
	float: right; 
	cursor: pointer;
	margin-top: 11px;
    width: 9%;
}
